$myFont: Helvetica, sans-serif;
$redColor: red;
$myFontSize: 18px;
$color1:#1b9a59;
$color2: #63c392;
$color3: #50bba7;
$color4: #888f96;
$backgroundColor: #f1efef;
$borderColor: #5a56562e;
$s-min: 20;
$s-max: 70;
$l-min: 30;
$l-max: 90;
