@import "variables";

.grid-list .card-group {
	margin: 0 auto;
}

.card.pokemon-card-container {
	.sound-icon {
		margin-top: 320px;
		fill: $color2;
	}

	img {
		height: 25rem;
		padding: 20px 15px;
		margin: 0 auto;
	}

	.card-body {
		padding: 0;
		background-color: $backgroundColor;

		.pokemon-name {
			padding: 1rem;
			span {
				float: right;
				margin-top: -10px;

				svg {
					fill: $redColor;
					cursor: pointer;
				}
			}

			h4 {
				float: left;
				margin-bottom: 0.1rem;
			}

			small {
				float: left;
				clear: left;
			}
		}
	}

	.flex-container {
		display: flex;
	}

	.flex-container > div {
		width: 50%;
		padding: 20px;
		font-size: 30px;
		border-left: 1px solid $borderColor;
		border-top: 1px solid $borderColor;

		p {
			margin-bottom: -10px;
			font-size: 1.2rem;
		}
		span {
			font-size: 1rem;
		}
	}
}

.evolution-container {
	padding: 0;

	.row-no-gutters {
		padding-left: 15px;
		padding-right: 15px;

		& > [class*="col-"] {
			padding-right: 2px;
			padding-left: 2px;
		}

		h5 {
			float: left;
		}
	}
	.card-body {
		background-color: $backgroundColor;

		p {
			float: left;
			font-size: 0.9rem;
			margin-bottom: 0;
		}
	}
	.card img {
		height: 12rem;
		padding: 20px 15px;
	}

	.card-text p {
		margin-bottom: 0px;
	}

	span {
		float: right;
		margin-top: -10px;

		svg {
			fill: $redColor;
			cursor: pointer;
		}
	}
}

//health-combat-bar css
.health-combat-bar {
	&:first-of-type {
		margin-top: 60px;
	}
	> div.progress {
		width: 90%;
	}
	.health-combat-value {
		float: right;
		margin-top: -35px;
		font-size: 0.85rem;
		font-weight: bold;
	}
}

.scroll-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
	margin: 5px;
	cursor: pointer;
	fill: $color3;
}
